# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Appwrite
VITE_APPWRITE_ENDPOINT=
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_BUCKET_EVIDENCE=

# App
VITE_APP_NAME=SentinelOps
VITE_DEFAULT_LAT=-16.5000
VITE_DEFAULT_LNG=-68.1500
